[role='listbox'] {
	height: 300px;
	width: 300px;
	overflow-y: scroll;
	margin: 0;
	background-color: #eee;
	padding: 0;
	list-style: none;
	position: relative;

	[role='option'] {
		height: 20px;
		&[aria-selected='true'] {
			font-weight: bold;
		}
		&[data-hovered='true'],
		&[data-focused='true'] {
			background-color: #ddd;
		}
	}
}
